<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet"/>
</head>
<body>
<!-- Nav -->
<div th:replace = "~{ nav.html::navbar }"></div>
<!-- --- -->
<div class="card" th:each="i : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}">바지</h4>
        <!--보통은 서버에서 보낸 변수를 넣고 싶으면 ${ } 안에 넣으면 된다. 근데 href안에는 @{ } 부터 시작 -->
        <a th:href="@{'/detail/' + ${i.id} }">링크</a>
        <p th:text="${i.price}">8억</p>
        <a th:href="@{'/edit/' + ${i.id}}">✏️</a>️
        <span th:onclick="fetch('/delete?id=[[${i.id}]]', {method : 'DELETE'})
            .then(r => r.text())
            .then(() => {
                location.reload();
            })

        ">🗑</span>
    </div>
</div>

<!--️<script>&lt;!&ndash; html 파일 로드시 1회 실행  &ndash;&gt;-->
<!--    document.querySelectorAll('.btn')[0],addEventListener('click', function(){-->
<!--    fetch('/delete/', {  &lt;!&ndash; 이 URL로 GET요청 날려줌 &ndash;&gt;-->
<!--        method : 'POST',-->
<!--        headers : {'Content-Type' : 'application/json'},-->
<!--        body : JSON.stringify({name : 'kim'})-->
<!--    })-->
<!--    })-->

<!--    fetch('/url') &lt;!&ndash;이 Url로 get요청 날려줌 &ndash;&gt;-->
<!--</script>-->

</body>
</html>